@use "./variables.scss" as *;

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;

  .main {
    color: $text-color;
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding: 1rem;
  }
}
