@use "./variables.scss" as *;

.header__nav > .header__list {
  display: flex;
  gap: 1.25rem;
  border: 1px solid transparent;

  .header__item > .header__link {
    font-size: 1.125rem;
    position: relative;
    padding: 0.375rem;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 1px;
      background-color: $white-color;
      transition: all 0.3s ease-in-out;
    }

    &:hover::after {
      width: 100%;
    }

    &:active {
      transform: translateY(1px);

      &::after {
        background-color: $secondary-color;
        transition-duration: 0.1s;
      }
    }
  }
}
